RewriteEngine On

#
# Files that will not be parsed by the Squille: You can include here more
# extentions, but you should not remove the file-manager.php rule.
#
# Its recomend to use a cdn for assets files, instead of place them into the same
# project.
#
RewriteCond %{REQUEST_FILENAME} !(\.(xsl|ico|css|js|jpg|png|gif|svg)|file\-manager\.php)$

#
# Don't change this.
#
RewriteRule ^(.*) index.php?path=/$1 [QSA]
